@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  min-height: 100vh;
}

.namecompany {
  font-family: "Lobster", cursive;
}
.name {
  font-family: "Lobster", cursive;
}

.h3 {
  font-family: "Lobster", cursive;
}

.inner {
  margin: 0;
  min-height: 70vh;
  width: 100vw;
  background-image: linear-gradient(
      rgba(74, 225, 241, 0.5),
      rgba(105, 199, 211, 0.5)
    ),
    url(https://blogs.unsw.edu.au/nowideas/files/2019/03/equilibrio-vida-trabajo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner2 {
  margin: 0;
  min-height: 18vh;
  background-image: linear-gradient(
      rgba(74, 225, 241, 0.5),
      rgba(105, 199, 211, 0.5)
    ),
    url(https://blogs.unsw.edu.au/nowideas/files/2019/03/equilibrio-vida-trabajo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icons {
  font-size: 20px;
}
[class*="title"] {
  color: #17a2b8;
  font-weight: 700;
}

.card__title {
  text-align: center;
  margin: 55px 0 0 0;
}

.cards-img {
  width: 25px;
  height: 25px;
}

/* .hola {
  padding: 0 10px 0 10px;
} */
